<ion-header>
  <ion-toolbar color="primary">
    <ion-title>FastNotes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list *ngIf="notes.length > 0">
    <ion-item button detail="true" *ngFor="let note of notes" (click)="goToDetail(note)">
      <ion-label>
        <h2>{{ note.title }}</h2>
        <p>{{ note.content }}</p>
        <small>{{ note.date }}</small>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success" (click)="createNote()">
      +
    </ion-fab-button>
  </ion-fab>

</ion-content>